@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  * {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  * a{
    text-decoration: none;
  }

  body {
    height: 100%;
    background-image: url("/images/burger.png");
    background-size: 300px;
    background-color: rgb(255, 255, 255);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .topnav {
    background-color: white;
    position: fixed;
    width: 100%;
    height: max-content;
    overflow: hidden;
    top:0;
    text-align: center;
    text-justify: center;
    padding-bottom: 20px;
  }

  #homelink {
    width: 100%;
    font-size: 40px;
    letter-spacing: 10px;
    padding-bottom: 10px;
    display: block;
    height: min-content;
  }

  .topnav a{
    text-align: center;
    display: inline-block;
    padding-top: 20px;
   
    margin: 0px 20px;
    height: inherit;
    color: black;
  }

  .topnav input{
    font-size: 16px;
    text-align: center;
    display: inline-block;
    /* padding-top: 15px; */
    margin: 0px 20px;
    height: inherit;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  /* h1 {
    padding: 0px 0px 50px 0px;
  } */
  .wrapper {
    background: transparent;
    max-width: 100%;
    height: 100%;
    padding-top: 80px;
    width: 100%;
    justify-self: top;
    align-self: top;
    display: grid;
    position: static;
    grid-template: 50px max-content 5%/ repeat(5, 1fr);
  }

  .yield {
    grid-area: 1 / 1 / 4 / 6;
    justify-self: center;
    align-self: top;
    text-align: center;
  }

  #searchContainer {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template: 50px/ repeat(2, 50%);
    background-color: white;
    position: fixed;
  }

  
  #filter {
    text-align: left;
    align-self: center;
    grid-column: 2;
    padding-left: 30px;
    font-size: 15px;
  }
  #filterbar {
    width: 65%;
    height: 30px;
  }
  #searchby {
    grid-column: 1;
    text-align: right;
    padding-right: 30px;
    align-self: center;
    height: 50px;
  }

  #searchby form {
    width: 100%;
    height: 100%;
    align-self: center;
    display: grid;
    grid-template: 100% / 90% 10%;
  }
  #searchImage {
    grid-column: 2 !important;
    height: 30px;
    align-self: center;
    justify-self: right;
  }
  #searchbar {
    width: 65%;
    height: 30px;
    border-radius: 20px;
    border: solid thin!important;
    cursor: text !important;
    text-align: center;
    align-self: center;
    justify-self: end;
  }

  .list {
    display: block;
    padding-top: 80px;
  }

  .list a {
    padding: 5px;
    color: rgb(0, 0, 0) !important;
  }

  .list h1 {
    width: max-content;
    margin: auto;
    line-height: 50px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    border-radius: 3px;
  }

  .listItem {
    white-space: nowrap;
    color: grey;
    background-color: rgb(254, 255, 254);
    box-shadow: 1px 1px 5px grey;
    width: 240px;
    height: 250px;
    display: inline-block;
    border-radius: 2%;
    margin: 20px;
    padding-top: 20px;
    overflow: scroll;
  }

  .listItem hr {
    border: thin;
    border-top: thin solid #243588;
    width: 95%;
    margin: auto;
  }

  .listItem input {
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
    border: none;
  }

  .recipe {
    text-align: left;
  }

  .editForm {
    max-width: 75%;
    width: 700px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    margin: 50px auto;
    padding: 30px;
    border-radius: 3%;
    overflow: scroll;
  }

  #userRecipe input{
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
    border: none;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    /* border-top: 2px solid #ccc; */
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-self: center;
    align-self: flex-end;
    text-align: center;
    color: white;
    background-color: black;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    /* -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto; */
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }
  .topnav {
    padding-top: 20px;
    font-size: 10px;
  }
  .topnav a {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: min-content;
  }

  #homelink {
    font-size: 10px;
    white-space: nowrap;
    text-align: center;
    justify-self: center;
    align-self: center;
  }

  #searchContainer {
    top: 80px; 
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
