<br><br><br><br>
<div class="editForm" style="width: 300px;">

<h1>Are You A Freak?</h1>

<br><h1>Sign Up:</h1><br>
<%if @error %> 
  <%=@error%>
<%end%>

<form action="/signup" method="POST">
  <input type="text" required="true" name="user[username]" placeholder="username"><br><br>
  <input type="email" required="true"  name="user[email]" placeholder="email"><br><br>
  <input type="password" required="true" name="user[password]" placeholder="password" minlength="8"><br><br>
<input type="submit" value="Sign Up">
</form>

</div>