<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>RecipeFreak</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/print.css"/>
  </head>
  <body>
    <div class="topnav">
        <a id="homelink" href="/">RECIPE FREAK</a>
        <a id="browse" href="/">Browse</a>
        <a id="home" href="/users/home">My Recipes</a>
        <a id="my" href="/recipes/new">New Recipe</a>
        <a id="liked" href="/users/like">Liked Recipes</a>
        <a id="mylist" href="/users/bag">Grocery List</a>

       <%if !logged_in?%>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        <%else%>
          <form action="/logout" method="post" style="display: inline-block;">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Log Out">
          </form>
        <%end%>
        
      </div>
      
      
    <div class="wrapper">
      <div class="yield">
      <br>
        <%= yield %>
      </div>
      <footer class="branding">
        <small>&copy; 2020 <strong>RecipeFreak</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  </body>
   <script>
    window.onload = linkColor()
      function linkColor() {
        list = document.getElementsByTagName('a')
        path = window.location.href
        for (i = 0; i < list.length; i++) {
          link = list[i]
          id = list[i].id
          if (link.href == path && id != "homelink"){
            link.style.color = "white"
            // link.style.fontSize = "20px"
            console.log("done")
          }
        }
      }
    </script>
</html>
