<h1>Welcome to Recipe Freak</h1>

<h3>Browse Recipes</h3>

<%@recipes.each do |recipe| %>
  <a href="/recipes/<%=recipe.id%>">
  <h4><%=recipe.name.titleize%> 
  <%if recipe.cuisine %> - <%=recipe.cuisine.name.titleize%><%end%>
  <%if recipe.user %> - <%=recipe.user.username%> <%end%></h4></a>
<%end%>